.App {
  display: flex;
  background-color: black;
  height: 100vh;
  padding: 20px;
}
.input input {
  width: 40px;
}
.input {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  border: 1px solid #70e4fb;
  width: 160px;
  height: 30px;
  margin: 0 auto;
}
.buttons button {
  width: 45px;
  background-color: #70e4fb;
  border-color: aqua;
  border-style: outset;

}
.main {
  text-align: center;
  width: 180px;
  height: 150px;
  border: 1px solid #70e4fb;
  margin: 0px auto;
  color: aqua;
  
}
.numBlock {
  border: 1px solid #70e4fb;
  width: 150px;
  height: 90px;
  margin: 5px auto;
  padding: 5px;
}
.button {
  background-color: #70e4fb;
  border-color: aqua;
  border-style: outset;
}
.red {
  color: red;
}
.error {
  border: 1px solid red;
  background: rgb(169 96 96 / 99%);
  outline: red;
}
.settings {
  display: none;
}
